@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300&family=Roboto:wght@100&family=Teko&display=swap');

$main-font: 'Poppins';
$second-font:'Inter';
$bg-color:#eaeaea;
$text-color:#252a34;